/*
Main styles
 */
* {
    font-family: "Comic Sans MS", serif;
}

div.outer {
    border: 1px dashed black;
    border-radius: 5px;
    margin: 20px 10%;
    text-align: center;
}



/*
Other styles
 */
label.game-name {
    font-size: 50px;
    font-family: Gabriola, sans-serif;
}



/*
Language changer
 */
.language-changer {
    position: fixed;
    left: 10px;
    bottom: 10px;
}



/*
Cookie
 */
#cookieImage {
    position: fixed;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

/*
Cookie wheel
 */
#cookieImage:hover {
    rotate: 1440deg;
    transition: 2s;
}

#cookieImage {
    rotate: 0deg;
    transition: 2s;
}