@import "../../resources/style/start.css";


/*
Main styles
 */
.centered {
    margin-left: auto;
    margin-right: auto;
}



/*
Table styles
 */
.history-table {
    width: 100%;
}

.history-table thead {
    background-color: #18dcd9;
}

.history-table td {
    text-align: center;
}

.history-table th.number-col {
    background-color: #18dcd9;
    text-align: center;
    width: 3%;
}
.history-table th.time-col {
    background-color: #18dcd9;
    text-align: center;
    width: 40%;
}
.history-table th.exec-time-col {
    background-color: #18dcd9;
    text-align: center;
    width: 15%;
}
.history-table th.x-col,
.history-table th.y-col,
.history-table th.r-col {
    background-color: #18dcd9;
    text-align: center;
    width: 10%;
}
.history-table th.result-col {
    background-color: #18dcd9;
    text-align: center;
    width: 12%;
}

.history-table tbody tr:nth-child(odd):hover {
    background-color: #dbecea;
}

.history-table tbody tr:nth-child(even):hover {
    background-color: #c6dcdc;
}



/*
Field styles
 */
.error-text {
    margin-left: 5px;
    color: red;
    position: absolute;
}

input[type="text"],
input[type="checkbox"] {
    border: 2px solid black;
}

.valid input {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.2);
    transition: 500ms;
}

.invalid input {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.2);
    transition: 500ms;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 100%;
    width: 20px;
    height: 20px;

    position: relative;
    top: 4px;
    cursor: pointer;
}

input[type="radio"]:checked {
    border-color: black;
    background-color: grey;
}

input[type="text"] {
    margin-left: 3px;
    border-radius: 5px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 20%;
    width: 20px;
    height: 20px;

    position: relative;
    top: 7px;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    rotate: 360deg;
    transition: 100ms;
}

input[type="checkbox"]:checked {
    border-color: black;
    background-color: grey;
}

.blink input[type="checkbox"] {
    rotate: 360deg;
    width: 30px;
    height: 30px;
    transition: 50ms;
}



/*
Text styles
 */
label.positive-result {
    color: green;
}

label.negative-result {
    color: red;
}