@import "../../resources/style/start.css";


/*
Main styles
 */
.centered {
    margin-left: auto;
    margin-right: auto;
}



/*
Table styles
 */
.history-table {
    width: 100%;
}

.history-table thead {
    background-color: #18dcd9;
}

.history-table td {
    text-align: center;
}

.history-table th.number-col {
    background-color: #18dcd9;
    text-align: center;
    width: 3%;
}
.history-table th.time-col {
    background-color: #18dcd9;
    text-align: center;
    width: 40%;
}
.history-table th.exec-time-col {
    background-color: #18dcd9;
    text-align: center;
    width: 15%;
}
.history-table th.x-col,
.history-table th.y-col,
.history-table th.r-col {
    background-color: #18dcd9;
    text-align: center;
    width: 10%;
}
.history-table th.result-col {
    background-color: #18dcd9;
    text-align: center;
    width: 12%;
}

.history-table tbody tr:nth-child(odd):hover {
    background-color: #dbecea;
}

.history-table tbody tr:nth-child(even):hover {
    background-color: #c6dcdc;
}



/*
Field styles
 */
.error-text {
    margin-left: 5px;
    color: red;
    position: absolute;
}



/*
Text styles
 */
label.positive-result {
    color: green;
}

label.negative-result {
    color: red;
}