@import "../../resources/style/welcome.css";
/*
@import "welcome.css"
->
GET ".../jakarta.faces.resource/welcome.css"
->
sadness :(

@import "../../resources/style/welcome.css"
->
GET ".../resources/style/welcome.css"
->
happiness :)
 */


/*
Main styles
 */
div.hat {
    font-family: sans-serif;
    color: #010101;
    font-size: 20px;
    background-color: #EDB88B;
}

canvas {
    margin: 5px;
}